.choose-section {
    background-color: white;
    padding: 2rem 0 10rem 0;
    background-image: url("/src/images/chooseUs/bg.png");
    background-position: -225px 255px;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
  }
  
  .choose-container {
    display: flex;
    flex-direction: column;
  }
  
  .choose-container__img {
    width: 70%;
    height: auto;
    margin: 0 auto;
  }
  
  @media (max-width: 550px) {
    .choose-container__img {
      width: 100%;
    }
  }
  
  .text-container {
    display: flex;
    justify-content: space-around;
    margin-top: 3rem;
    width: 100%;
  }
  
  @media (max-width: 1000px) {
    .text-container {
      flex-direction: column;
      align-items: center;
      text-align: center;
      gap: 5.5rem;
    }
  }
  
  .text-container__left {
    text-align: left;
    display: flex;
    flex-direction: column;
    max-width: 50rem;
    color: #010103;
  }
  
  @media (max-width: 1000px) {
    .text-container__left {
      align-items: center;
      text-align: center;
    }
  }
  
  .text-container__left h4 {
    font-size: 2.2rem;
    margin-bottom: 0.7rem;
    font-weight: 600;
    font-family: "Poppins", sans-serif;
  }
  
  .text-container__left h2 {
    font-size: 4.2rem;
    line-height: 1.2;
    margin-bottom: 2rem;
    font-weight: 800;
  }
  
  .text-container__left p {
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
    line-height: 1.5;
    color: #706f7b;
    margin-bottom: 3.3rem;
  }
  
  .text-container__left a {
    text-decoration: none;
    color: white;
    font-weight: 700;
    background-color: #ff4d30;
    padding: 1.5rem 2.5rem;
    border-radius: 0.3rem;
    box-shadow: 0 10px 15px 0 rgba(255, 83, 48, 0.35);
    transition: all 0.3s;
    border: 2px solid #ff4d30;
    font-size: 1.6rem;
    width: -moz-fit-content;
    width: fit-content;
    display: flex;
  }
  
  .text-container__left a:hover {
    box-shadow: 0 10px 15px 0 rgba(255, 83, 48, 0.6);
    background-color: #fa4226;
  }
  
  .text-container__right {
    display: flex;
    flex-direction: column;
    gap: 4.5rem;
    max-width: 44rem;
  }
  
  .text-container__right__box {
    display: flex;
  }
  
  @media (max-width: 550px) {
    .text-container__right__box {
      flex-direction: column;
      align-items: center;
    }
  }
  
  .text-container__right__box img {
    width: 11rem;
    height: 11rem;
    margin-right: 1.1rem;
  }
  
  .text-container__right__box__text {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
  }
  
  .text-container__right__box__text h4 {
    font-size: 2.4rem;
  }
  
  .text-container__right__box__text p {
    font-size: 1.6rem;
    color: #706f7b;
    font-family: "Poppins", sans-serif;
    line-height: 1.3;
  }