footer {
    background-color: #ffffff;
    padding: 10rem 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .footer-content {
    display: grid;
    color: #010103;
    grid-template-columns: 27fr 21fr 21fr 21fr;
    gap: 8rem;
    justify-content: center;
    text-align: left;
    color: #010103;
  }
  
  @media (max-width: 1100px) {
    .footer-content {
      grid-template-columns: 1fr 1fr;
    }
  }
  
  @media (max-width: 650px) {
    .footer-content {
      grid-template-columns: 1fr;
    }
  }
  
  .footer-content__1 {
    list-style: none;
  }
  
  @media (max-width: 650px) {
    .footer-content__1 {
      text-align: center;
    }
  }
  
  .footer-content__1 li a {
    text-decoration: none;
    color: #010103;
    transition: all 0.2s;
  }
  
  .footer-content__1 li a:hover {
    color: #ff4d30;
  }
  
  .footer-content__1 li:nth-child(1) {
    font-size: 2.4rem;
    margin-bottom: 1.5rem;
  }
  
  .footer-content__1 li:nth-child(1) span {
    font-weight: 700;
  }
  
  .footer-content__1 li:nth-child(2) {
    font-size: 1.6rem;
    color: #706f7b;
    line-height: 1.7;
    margin-bottom: 3rem;
  }
  
  .footer-content__1 li:nth-child(3),
  .footer-content__1 li:nth-child(4) {
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    margin-bottom: 1rem;
  }
  
  .footer-content__2 {
    list-style: none;
  }
  
  @media (max-width: 650px) {
    .footer-content__2 {
      text-align: center;
    }
  }
  
  .footer-content__2 a {
    text-decoration: none;
    color: #010103;
    transition: all 0.2s;
  }
  
  .footer-content__2 a:hover {
    color: #ff4d30;
  }
  
  .footer-content__2 li {
    font-size: 1.6rem;
    margin-bottom: 1rem;
  }
  
  .footer-content__2 li:nth-child(1) {
    font-size: 2.4rem;
    font-weight: 700;
    text-transform: uppercase;
    font-family: "Poppins", sans-serif;
    cursor: auto;
  }
  
  .footer-content__2 input {
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 26px;
    background-color: #ececec;
    border-width: 1px;
    border-color: transparent;
    padding: 10px 60px;
    outline: none;
    margin-top: 1rem;
  }
  
  @media (max-width: 1100px) {
    .footer-content__2 input {
      width: 100%;
    }
  }
  
  .submit-email {
    text-decoration: none;
    color: white;
    font-weight: 700;
    background-color: #ff4d30;
    padding: 1.5rem 2.5rem;
    border-radius: 0.3rem;
    box-shadow: 0 10px 15px 0 rgba(255, 83, 48, 0.25);
    transition: all 0.3s;
    border: 2px solid #ff4d30;
    font-size: 1.6rem;
    width: -moz-fit-content;
    width: fit-content;
    cursor: pointer;
    width: 100%;
  }
  
  .submit-email:hover {
    box-shadow: 0 10px 15px 0 rgba(255, 83, 48, 0.4);
    background-color: #fa4226;
  }