.download-section {
    background-image: url("./bg02.png");
    background-color: #f8f8f8;
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: auto;
    padding: 10rem 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  
  @media (max-width: 700px) {
    .download-section {
      background-image: none;
    }
  }
  
  .download-text {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    max-width: 55rem;
    text-align: left;
  }
  
  @media (max-width: 700px) {
    .download-text {
      text-align: center;
      margin: 0 auto;
    }
  }
  
  .download-text h2 {
    font-size: 4.2rem;
    color: #010103;
    font-weight: 800;
  }
  
  .download-text p {
    font-size: 1.6rem;
    color: #706f7b;
    font-family: "Poppins", sans-serif;
    line-height: 1.5;
  }
  
  .download-text__btns {
    display: flex;
    gap: 3rem;
    margin-top: 2rem;
  }
  
  @media (max-width: 700px) {
    .download-text__btns {
      justify-content: center;
    }
  }
  
  @media (max-width: 550px) {
    .download-text__btns {
      flex-direction: column;
      align-items: center;
    }
  }
  
  .download-text__btns img {
    width: 40%;
    cursor: pointer;
  }
  
  @media (max-width: 550px) {
    .download-text__btns img {
      width: 22rem;
    }
  }