@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700;800;900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  html {
    font-size: 10px;
    scroll-behavior: smooth;
  }
  
  body {
    background-color: #ffffff;
    position: relative;
  }
  
  
  /* Firefox */
  * {
    scrollbar-width: thin;
    scrollbar-color: #ff4d30 #ffffff;
    font-family: 'Poppins', sans-serif;
  }
  
  /* Chrome, Edge and Safari */
  *::-webkit-scrollbar {
    width: 10px;
    width: 10px;
  }
  
  *::-webkit-scrollbar-track {
    border-radius: 5px;
    background-color: #ffffff;
  }
  
  *::-webkit-scrollbar-track:hover {
    background-color: #ffffff;
  }
  
  *::-webkit-scrollbar-track:active {
    background-color: #ffffff;
  }
  
  *::-webkit-scrollbar-thumb {
    border-radius: 20px;
    background-color: #ff4d30;
  }
  
  *::-webkit-scrollbar-thumb:hover {
    background-color: #ff4d30;
  }
  
  *::-webkit-scrollbar-thumb:active {
    background-color: #ff2525;
  }

  .navbar {
    max-width: 133rem;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2.7rem 2rem;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background-color: transparent;
    z-index: 99999;
    margin: 0 auto;
  }
  
  .navbar__img {
    width: 14.5rem;
  }
  
  .navbar__img img {
    width: 100%;
    height: 100%;
  }
  
  .navbar__links {
    display: flex;
    list-style: none;
    gap: 2.1rem;
    font-family: 'Poppins', sans-serif;
  }
  
  .navbar__links a {
    font-size: 1.6rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    color: #010103;
    text-decoration: none;
    cursor: pointer;
    transition: all 0.3s;
  }
  
  .navbar__links a:hover {
    color: #ff4d30;
  }
  
  @media (max-width: 1000px) {
    .navbar__links {
      display: none;
    }
  }
  
  .navbar__buttons {
    display: flex;
    gap: 2.5rem;
    font-size: 1.6rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    align-items: center;
    cursor: pointer;
  }
  
  @media (max-width: 1000px) {
    .navbar__buttons {
      display: none;
    }
  }
  
  .navbar__buttons__sign-in {
    color: #010103;
    cursor: pointer;
    transition: all 0.3s;
  }
  
  .navbar__buttons__sign-in:hover {
    color: #ff4d30;
  }
  
  .navbar__buttons__register {
    background-color: #ff4d30;
    color: white;
    padding: 1.5rem 3rem;
    border-radius: 3px;
    box-shadow: 0 10px 15px 0 rgba(255, 83, 48, 0.35);
    transition: all 0.3s;
  }
  
  .navbar__buttons__register:hover {
    box-shadow: 0 10px 15px 0 rgba(255, 83, 48, 0.5);
    background-color: #fa4226;
  }
  
  .navbar__buttons a {
    text-decoration: none;
  }

  
  
  
  .mobile-hamb {
    font-size: 2.8rem;
    display: none;
    cursor: pointer;
    transition: all 0.3s;
  }
  
  .mobile-hamb:hover {
    color: #ff4d30;
  }
  
  @media (max-width: 1000px) {
    .mobile-hamb {
      display: flex;
    }
  }
  
  .mobile-navbar {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: -100%;
    background-color: #ffffff;
    z-index: 999999;
    justify-content: center;
    align-items: center;
    transition: all 0.5s ease-in-out;
  }
  
  .mobile-navbar__close {
    font-size: 3rem;
    position: absolute;
    top: 3.5rem;
    right: 3.5rem;
    cursor: pointer;
    transition: all 0.3s;
  }
  
  .mobile-navbar__close:hover {
    color: #ff4d30;
  }
  
  
  .open-nav {
    left: 0;
  }
  
  @media (max-width: 290px) {
    .logo-navbar {
      display: none;
    }
  }
